Basic 6 Website Down Alert.json
{
  "name": "Basic 6 Website Down Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d495141e-d875-41af-b278-687de3fb1c3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://example.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "c46baedf-8bfa-4646-b9aa-fc180d5f898a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e24e8a3-c8c3-4fd2-a336-113ae036bde5",
              "leftValue": "{{$json[\"statuscode\"]}}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8b39193b-5e4c-481c-891c-abcbd5c63ae7",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "abdulbasit.mcj.9046@gmail.com",
        "subject": "=Website Down Alert",
        "message": "=Hello \nYour Website www.Example.com is Down....\nYou can view the error of you want to....",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -96
      ],
      "id": "471c26f9-b235-43ef-b705-794964d40b67",
      "name": "Send a message",
      "webhookId": "96ec31c2-1dc6-447b-ad97-81fdbaf389aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "V6AN7zfX2gzHgAfX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56947533-22cd-467d-8000-42b8e52b75d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f89d7de24e1de12323093f1c418ab2473b349a2c60b70df4dece0b06dbbe028"
  },
  "id": "K9WwhyRhHCdqEVYx",
  "tags": []
}