Basic 1 Email Logger.json
{
  "name": "Basic 1 Email Logger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8b86b653-ec0c-49a2-86c7-bbd52527222f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "V6AN7zfX2gzHgAfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b4b9096-ec32-4527-9772-f98ed8792eaa",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "ba739bd3-0339-40a3-ac98-aadd28eb6c03",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "bcb01be4-14e5-4385-8ad7-9983844c2935",
              "name": "Body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "704e54dd-b90c-4b0a-88af-05d97d9a4f66",
              "name": "Date Recieved",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        0
      ],
      "id": "5089bf7b-57b5-4f27-b18e-7fc9d6866d14",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MDohihRMyiW6AnXyOOFPNpl6yu3N-NP76rWeBaIIDpk",
          "mode": "list",
          "cachedResultName": "Basic 1 Email Logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MDohihRMyiW6AnXyOOFPNpl6yu3N-NP76rWeBaIIDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MDohihRMyiW6AnXyOOFPNpl6yu3N-NP76rWeBaIIDpk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Sender": "={{ $('Edit Fields').item.json.From }}",
            "Subject": "={{ $('Edit Fields').item.json.Subject }}",
            "Body": "={{ $('Edit Fields').item.json.Body }}",
            "Date Recieved": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email Sender",
              "displayName": "Email Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Recieved",
              "displayName": "Date Recieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "9d07c5e8-418a-4490-b354-3bfd1e95f0bd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AXTfOYpNREw2pGD",
          "name": "Demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json['Date Recieved'] }}",
        "format": "=MM/dd/yyyy HH:mm",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "43a2a61e-e8cd-447a-aefb-66f29bbd2c6f",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd9cbed1-f102-42a4-b0f2-87c2a4986958",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f89d7de24e1de12323093f1c418ab2473b349a2c60b70df4dece0b06dbbe028"
  },
  "id": "CdH0oSLMDqi1nJh3",
  "tags": []
}