Real Estate Problem 3_ Property Matcher.json
{
  "name": "Real Estate Problem 3: Property Matcher",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -224
      ],
      "id": "3209754a-3de7-46c9-921a-cef6aef5b4c1",
      "name": "When chat message received",
      "webhookId": "4a728f5b-d242-41a1-b051-3cd0b0035716"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name of the person: {{ $json.Name }}\n\nType of Property: {{ $json['Property Description'] }}\n\nEmail: {{ $json.Email }}",
        "options": {
          "systemMessage": "=You are a helpful filtering assistant...you have the property data....and you will filter the properties under that criterea...and make a email....and give it as output...amd always sign off as Realtor Agent"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "68f86681-2118-47ee-b6a1-0f9b783190af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ],
      "id": "244c2823-574f-4088-98f5-7324c77e81ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hVv8imszC1mzFNrt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18OXy7P1GGkDedveE2_fHGT95L78h6tqWTNPBa_5Fzkw",
          "mode": "list",
          "cachedResultName": "Real Estate Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18OXy7P1GGkDedveE2_fHGT95L78h6tqWTNPBa_5Fzkw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18OXy7P1GGkDedveE2_fHGT95L78h6tqWTNPBa_5Fzkw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        288
      ],
      "id": "b122381e-5660-47eb-8daa-b2437feb98f4",
      "name": "Real Estate Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AXTfOYpNREw2pGD",
          "name": "Demo"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Which type of properties are you looking for?",
        "formDescription": "We Will Email the filtered data to you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Property Description",
              "placeholder": "Enter the type of property you are looking for...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "to send the filtered properties",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "fffafbc3-c701-4ed3-b108-289ee731ce81",
      "name": "On form submission",
      "webhookId": "ee9f0fa5-e323-4904-bc71-aaa6e9b37937"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Property is filtered",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "232938e7-1654-4b04-b89c-8c018916c37c",
      "name": "Send a message",
      "webhookId": "0655ebad-7dfa-4fcf-a5bd-40ca9da5ad66",
      "credentials": {
        "gmailOAuth2": {
          "id": "V6AN7zfX2gzHgAfX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Abdul Basit",
          "Property Description": "i am looking for properites under the budget of 200000$ to buy.....and in Florida",
          "Email": "abdulbasit.mcj.9046@gmail.com",
          "submittedAt": "2025-09-24T23:59:54.242-07:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Real Estate Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32ddfd31-ac0b-420e-8cb8-c21db8d0a90a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f89d7de24e1de12323093f1c418ab2473b349a2c60b70df4dece0b06dbbe028"
  },
  "id": "Y90eNcSW6bQhdST4",
  "tags": []
}